html, body {
  height:100%;
}

body {
  background-color: lightblue;
}

input, label {
  display: block;
}

h1 {
  text-align: center;
}

#gh-name {
  margin-top: 0;
  text-align: center;
}

#error {
  color: red;
}
