html, body {
  height:100%;
}

body {
  background-color: lightblue;
}

input, label {
  display: block;
}

h1 {
  font-size: 64px;
  text-align: center;
  font-family: 'Patua One', sans-serif;
}

img.logo {
  margin-right: 15px;
}

#gh-name {
  margin-top: 0;
  text-align: center;
}

#error {
  color: red;
}
